
.banner{
	background-image: url(../img/creamy.jpg); 
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}
.container-fluid{
	background-color: rgba(0,0,0, 0.5);
	background-size: cover;
	height: 500px;
}
.titulo{
	color: #F9FCD4;
	margin-top:250px;
	font-size: 50px;
	font-family: "Merriweather";
}
h5{
	color: #F9FCD4;
	padding: 10px;
	font-family: "Merriweather";
}
nav ul li{
	list-style: none;
	overflow-y: auto;
}
.navbar-default {
    background-color: red;
    border-color: red;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #F9FCD4;
}
.navbar-default .navbar-brand {
    color: #F9FCD4;
}
.crema{
	padding:2%;
	text-align: center;
	color: red;
}
.rojo{
	color: #F9FCD4;
	text-align: center;
	padding: 40px;
	font-family: "Merriweather";
}
.rojo1{
	background-color: red;
}
.crema1{
	background-color: #F9FCD4;
}
.ice{
	width: 520px;
}
.ico{
	background-color: #F9FCD4;
	font-family: "Merriweather";
}
.iconos{
	text-align: center;
}
.fa{
	color: red;
	font-size: 150px;
}
.caja{
	padding: 40px; 
	color: red;
}
footer{
	background-color: red;
	color: #F9FCD4;
	padding: 15px;
	font-family: "Merriweather";
}
